.blur {
  filter: blur(1.5px);
}
.menu-icon {
  float: left;
  padding: 10px;
}
.nav-bar {
  background-color: #767676;
  padding: 10px 0 10px 0;
  color: white;
}
.nav-icon {
  padding-left: 10px;
  padding-right: 20px;
}
.white {
  background: white;
  padding: 20px;
  box-shadow: #b4b4b4 0 2px 3px;
}
.inprogress {
  background: white;
  margin: 0 20px;
  box-shadow: #b4b4b4 0 2px 3px;
}

.progressText {
  font-weight: 200;
  font-size: 1em;
  color: #6b6b6b;
}
.defaultText {
  font-size: 1em;
  color: #6b6b6b;
}
.carInfo {
  border-radius: 25px;
  color: #6b6b6b;
  padding: 10px;
}
.makeModel {
  text-shadow: 0 3px 3px;
}

.license {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
}
.height {
  min-height: 60px;
  margin-bottom: 10px;
}
.colorBox {
  box-shadow: #b4b4b4 0 2px 3px;
  border-radius: 10px;
  min-width: 70px;
  min-height: 30px;
}
.yellowFlag {
  position: fixed;
  right: 30px;
  top: 10px;
}
.backArrow {
  position: fixed;
  left: 30px;
  top: 10px;
}

.noMargin {
  margin: 0;
}
.flexColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lotStatus {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.locations {
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.locationBox {
  padding: 20px;
  border: 1px black solid;
  font-size: 1em;
  color: #6b6b6b;
  background-color: white;
}

.phonenumber {
  font-weight: 100;
  font-size: 1.25em;
  color: #6b6b6b;
}
.carText {
  font-weight: 200;
  font-size: 1.5em;
  color: #6b6b6b;
}
.boxshadow {
  box-shadow: #b4b4b4 0 2px 3px;
}

.valetList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em;
  color: #6b6b6b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
