.blur {
  filter: blur(1.5px);
}
.lot-status-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 5% 0 5%;
}
.menu-icon {
  float: left;
  padding: 10px;
}
.nav-bar {
  background-color: #767676;
  padding: 10px 0 10px 0;
  color: white;
}
.nav-icon {
  padding-left: 10px;
  padding-right: 20px;
}
.white {
  background: white;
  padding: 20px;
  box-shadow: #b4b4b4 0 2px 3px;
}
.parkingbox{
  background: rgba(255, 255, 255, 0.712);
  padding: 20px;
  box-shadow: #b4b4b4 0 2px 3px;
  color: #6b6b6b;
}

.inprogress {
  background: white;
  margin: 0 20px;
  box-shadow: #b4b4b4 0 2px 3px;
}

.progressText {
  font-weight: 200;
  font-size: 1em;
  color: #6b6b6b;
}
.defaultText {
  font-size: 1em;
  color: #6b6b6b;
}
.carInfo {
  border-radius: 25px;
  color: #6b6b6b;
  padding: 10px;
}
.makeModel {
  text-shadow: 0 3px 3px;
}

.license {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
}

.notes{
  text-align: left;
}

.height {
  min-height: 60px;
  margin-bottom: 10px;
}
.colorBox {
  box-shadow: #b4b4b4 0 2px 3px;
  border-radius: 10px;
  min-width: 70px;
  min-height: 30px;
}
.yellowFlag {
  position: fixed;
  right: 30px;
  top: 10px;
}
.backArrow {
  position: fixed;
  left: 30px;
  top: 10px;
}

.noMargin {
  margin: 0;
}
.flexColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lotStatus {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.locations {
  margin-top: 20px;
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.locationBox {
  /* padding: 20px;
  border: 1px black solid;
  font-size: 1em; */
  color: #6b6b6b;
  background-color: rgba(255, 255, 255, 0.712);
}

.locationBox:active {
  background-color: #e9ad28;
  color: white;
}

.phonenumber {
  font-weight: 100;
  font-size: 1.25em;
  color: #6b6b6b;
}
.carText {
  font-weight: 200;
  font-size: 1.5em;
  color: #6b6b6b;
}
.boxshadow {
  box-shadow: #b4b4b4 0 2px 3px;
}

.valetList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25em;
  color: #6b6b6b;
}

.searchResult {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.searchCar {
  display: flex;
  flex-direction: column;
  border-right: 1px #6b6b6b solid;
  float: right;
  margin: 0;
  padding: 0 5px 0 0;
  justify-content: center;
  width: 120px;
}
.searchUser {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
  justify-content: center;
  width: 100px;
}
.searchText {
  font-weight: 700;
  font-size: 1em;
  color: #6b6b6b;
}
